body {
    margin: 0;
    margin: auto;
    text-align: center;
    font-family: AdobeInvisFont,Montserrat-Bold,sans-serif;
}

a {
    text-decoration: none;
}

button {
    border: none;
    cursor: pointer;
}

.our-service-heading,
.our-amazing-work-heading,
.breaking-news-heading,
.what-people-say-about-the-ham-heading,
.gallery-of-best-images-heading {
    font-size: 36px;
    color: #4E4E4E;
}

.we-are-creative {
    height: 1012px;
    background-image: url('../img/Layer1@1X.png');
    background-attachment: fixed;
    background-size: cover;
}

.we-are-creative-header {
    height: 121px;
    background-color: black;
    opacity: 0.6;
    position: relative;
    z-index: 0;
}

.we-are-creative-header-content {
    position: relative;
    z-index: 1;
    margin-top: -95px;
}

.we-are-creative-header-content,
.we-are-creative-header-content-logotype,
.we-are-creative-header-content-logotype-txt,
.we-are-creative-header-content-links{
    display: flex;
    justify-content: center;
}

.we-are-creative-header-content-logotype-img {
    position: relative;
    z-index: 3;
}
.we-are-creative-header-content-logotype-img > span {
    color: #FFFFFF;
    font-size: 40px;
    font-weight: bold;
    position: relative;
    z-index: 4;
    position: absolute;
    margin-left: -44px;
    margin-top: 13px;
}

.we-are-creative-header-content-logotype-txt {
    margin-top: 22px;
    margin-left: 7px;
}

.we-are-creative-header-content-logotype-txt-the,
.we-are-creative-header-content-logotype-txt-ham {
    font-size: 30px;
}

.we-are-creative-header-content-logotype-txt-the {
    margin-top: 1px;
    color: #FFFFFF;
    font-family: AdobeInvisFont,Montserrat-Bold,Courier,sans-serif;
}

.we-are-creative-header-content-logotype-txt-ham {
    font-family: AdobeInvisFont,Montserrat-Bold,sans-serif;
    font-weight: bold;
}

.we-are-creative-header-content-logotype-txt-ham {
    color: #18CFAB;
}

.we-are-creative-header-content-links-link{
    font-size: 13px;
    color: #BBBBBB;
    font-weight: bold;
}

/*.we-are-creative-header-content-links-link-search {*/
/*    */
/*}*/

.we-are-creative-header-content-links {
    margin-left: 292px;
}

.wrapper-link {
    height: 71px;
    margin-left: 15px;
    margin-top: 26px;
}

.we-are-creative-header-content-links-link-search {
    width: 22px;
    height: 22px;
}

.we-are-creative-header-content-links-link-search > .fa-search {
    font-size: 22px;
    border-bottom: none;
    color: #BBBBBB;
    margin-top: 23px;
    margin-left: 15px;
}

.we-are-creative-header-content-links-link-search > .fa-search:hover {
    color: #18CFAB;
}

.we-are-creative-section-content {
    margin-top: 271px;
}

.wrapper-link:hover {
    border-bottom: #18CFAB 2px solid;
    height: 69px;
}

.wrapper-link:hover>a {
    color: #18CFAB;
}

#wrapper-link-search {
    border-bottom: none;
}

.we-are-creative-section-content-headings-heading1 {
    display: flex;
    justify-content: center;
}

.we-are-creative-section-content-headings-heading1-the-ham-is,
.we-are-creative-section-content-headings-heading1-wordpress-theme {
    font-size: 35px;
    font-weight: bold;
}

.we-are-creative-section-content-headings-heading1-the-ham-is {
    color: #FFFFFF;
}

.we-are-creative-section-content-headings-heading1-wordpress-theme {
    color: #18CFAB;
    margin-left: 11px;
}

.we-are-creative-section-content-headings-heading2 {
    color: #FFFFFF;
    font-size: 80px;
    margin-top: 40px;
    font-weight: bold;
}

.we-are-creative-section-content-headings-heading3 {
    color: #D4D4D4;
    font-size: 30px;
    font-family: AdobeInvisFont,Montserrat-Bold,Courier,sans-serif;
    margin-top: 23px;
}

.we-are-creative-section-content-buttons {
    padding-top: 141px;
}

.we-are-creative-section-content-buttons-btn-1,
.we-are-creative-section-content-buttons-btn-2 {
    width: 167px;
    height: 62px;
    border-radius: 6px;
    color: #FFFFFF;
    font-weight: bold;
}

.we-are-creative-section-content-buttons-btn-1:hover,
.we-are-creative-section-content-buttons-btn-2:hover {
    border: #FFFFFF 4px solid;
}

.we-are-creative-section-content-buttons-btn-1 {
    background-color: #18CFAB;
}

.we-are-creative-section-content-buttons-btn-2 {
    background-color: #00CBF6;
    margin-left: 22px;
}

.blocks {
    height: 375px;
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
}

.blocks-block>img {
    margin-top: 105px;
}



.blocks-block {
    width: 100%;
}

#block1,
#block3 {
    background-color: #1C2A33;
    border-top: 6px #18CFAB solid;
    color: #18CFAB;
}

#block2,
#block4 {
    background-color: #18CFAB;
    border-top: 6px #FFFFFF solid;
    color: #FFFFFF;
}

#block1>span,
#block3>span {
    display: inline-block;
    margin-top: 38px;
}

#block2>span,
#block4>span {
    display: inline-block;
    margin-top: 59px;
}

.our-service-heading {
    margin-top: 82px;
}

.our-service-menu {
    margin-top: 69px;
}

.our-service-menu,
.our-amazing-work-tabs {
    display: flex;
    justify-content: center;
}

.our-service-menu-btn {
    width: 194px;
    height: 74px;
    font-size: 16px;
}
.our-service-menu-btn,
.our-amazing-work-tabs-tab {
    border: 1px #EBEBEB solid;
    background-color: #F8FCFE;
    color: #717171;
}

.our-service-menu-btn:hover {
    background-color: #18CFAB;
    color: #FFFFFF;
}

.our-service-menu-btn>span {
    display: inline-block;
    margin-top: 30px;
}

.our-service-menu-btn>img {
    position: absolute;
    margin-top: 25px;
    margin-left: 85px;
    display: none;
}

.our-service-content {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.our-service-content-block {
    width: 960px;
    height: 136px;
    margin-left: 20px;
}

.our-service-content-block-txt {
    display: none;
}

.our-service-menu>.active {
    background-color: #18CFAB;
    color: #FFFFFF;
}

.our-service-menu>.active>img {
    display: block;
}

.our-service-content-block>.active {
    display: block;
}

.everything-is-ready {
    background-image: url("../img/Layer 2@1X.png");
    background-attachment: fixed;
    background-size: cover;
    margin-top: 102px;
}

.everything-is-ready-wrap-dark {
    background-color: black;
    opacity: 0.8;
    height: 476px;
    position: relative;
    z-index: 0;
}

.wrap-everything-is-ready-content {
    position: relative;
    z-index: 1;
    margin-top: -350px;
}

.everything-is-ready-headings-heading-1 {
    color: #18CFAB;
    font-size: 40px;
    font-weight: bold;
}

.everything-is-ready-headings-heading-2 {
    color: #D8D8D8;
    font-size: 16px;
    margin-top: 30px;
}

.everything-is-ready-purchase-now {
    margin-top: 75px;
    width: 167px;
    height: 62px;
    border-radius: 6px;
    color: #FFFFFF;
    font-weight: bold;
    background-color: #18CFAB;
}

.everything-is-ready-purchase-now:hover{
    border: 4px #FFFFFF solid;
}

.our-amazing-work {
    margin-top: 128px;
    background-color: #F8FCFE;
}

.our-amazing-work-heading {
    padding-top: 90px;
}

.our-amazing-work-tabs {
    margin-top: 70px;
}

.our-amazing-work-tabs-tab {
    height: 58px;
}

.our-amazing-work-tabs-tab>span {
    margin-left: 29px;
    margin-right: 29px;
    display: inline-block;
    margin-top: 23px;
}

.our-amazing-work-tabs-tab:hover,
.our-amazing-work-tabs>.active {
    border-top: 2px #18CFAB solid;
    color: #18CFAB;
    margin-top: -1px;
    cursor: pointer;
}

.our-amazing-work-gallery {
    margin-top: 71px;
}

.our-amazing-work-gallery>.active {
    display: block;
}

.our-amazing-work-gallery-img {
    display: none;
}

.our-amazing-work-gallery>.all>img {
    width: 284px;
    height: 206px;
}

.our-amazing-work-gallery-img-row {
    display: flex;
    justify-content: center;
}

.our-amazing-work-gallery-img-part>img {
    float: left;
}

.creative-design {
    width: 284px;
    height: 203px;
    border-top: 3px #18CFAB solid;
    display: none;
}

.creative-design-icons {
    display: flex;
    justify-content: center;
}

.creative-design-icon {
    border-radius: 25px;
    margin-top: 42px;
}

.creative-design-icon:hover {
    cursor: pointer;
}

.icon-1 {
    color: #18CFAB;
    border: 2px solid #18CFAB;
    width: 38px;
    height: 38px;
}

.icon-1:hover {
    color: #FFFFFF;
    background-color: #18CFAB;
    border: none;
    width: 42px;
    height: 42px;
}

.icon-1:hover i {
    margin-top: 14px;
}
.icon-2:hover i {
    margin-top: 12px;
}

.icon-2 {
    background-color: #18CFAB;
    color: #FFFFFF;
    margin-left: 4px;
    width: 41px;
    height: 41px;
}

.icon-2:hover {
    color: #18CFAB;
    background-color: #FFFFFF;
    border: 2px #18CFAB solid;
    width: 38px;
    height: 38px;
}

.icon-1>i {
    margin-top: 12px;
    font-size: 15px;
}

.icon-2>i {
    margin-top: 13px;
    font-size: 15px;
}

.creative-design-heading-1,
.creative-design-heading-2 {
    display: inline-block;
}

.creative-design-heading-1 {
    margin-top: 33px;
    font-size: 16px;
    font-weight: bold;
    color: #18CFAB;
}

.creative-design-heading-2 {
    margin-top: 13px;
    font-size: 14px;
    color: #8A8A8A;
}

.our-amazing-work-load-more,
.our-amazing-work-load-more-btn,
.gallery-of-best-images-load-more,
.gallery-of-best-images-load-more-btn{
    margin: auto;
    width: 166px;
    height: 61px;
}

.web-row-2,
.landing-row-2 {
    margin-left: -283px;
}

.wordpress-row-3 {
    margin-left: -567px;
}

.our-amazing-work-load-more {
    margin-top: 70px;
    padding-bottom: 100px;
}

.gallery-of-best-images-load-more {
    margin-top: 65px;
    padding-bottom: 81px;
}

.our-amazing-work-load-more-btn,
.gallery-of-best-images-load-more-btn{
    background-color: #18CFAB;
    color: #FFFFFF;
    border-radius: 5px;
}

.fa-plus {
    font-size: 17px;
    font-weight: bold;
}

.our-amazing-work-load-more-title,
.gallery-of-best-images-load-more-title {
    font-size: 14px;
    font-weight: bold;
    margin-left: 16px;
}

.our-amazing-work-gallery-img-all-part-two,
.our-amazing-work-gallery-img-all-part-three {
    display: none;
}

.loader1,
.loader2 {
    margin: auto;
    border: 4px solid #f3f3f3;
    border-top: 4px solid darkgray;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.breaking-news-heading {
    margin-top: 84px;
}

.breaking-news-content {
    margin-top: 69px;
}

.breaking-news-content-row {
    display: flex;
    justify-content: center;
}

.breaking-news-content-row-card-img {
    position: relative;
    z-index: 0;
}

.breaking-news-content-row-card-img img {
    padding: 0;
}

.breaking-news-content-row-card {
    width: 263px;
    margin-left: 28px;
    border: 1px #ECECEC solid;
}


.breaking-news-content-row-card:hover .breaking-news-content-row-card-date-post {
    background-color: #18CFAB;
}

.breaking-news-content-row-card:hover .breaking-news-content-row-card-txt-title {
    color: #18CFAB;
}

.breaking-news-content-row-card-date-post {
    width: 69px;
    height: 67px;
    background-color: #203E38;
    color: #FFFFFF;
    font-size: 16px;
    position: relative;
    z-index: 0;
    margin-top: -212px;
    margin-left: 194px;
}

.breaking-news-content-row-card-date-post-day {
    padding-top: 16px;
}

.breaking-news-content-row-card-date-post-month {
    padding-top: 4px;
}

.breaking-news-content-row-card-txt {
    height: 72px;
    background-color: #F8FCFE;
    margin-top: 141px;
}

#breaking-news-content-row-2 {
    margin-top: 45px;
    margin-bottom: 131px;
}

.breaking-news-content-row-card-txt-title {
    font-size: 18px;
    color: #717171;
    margin-left: -74px;
    font-weight: bold;
}

.breaking-news-content-row-card-txt-desc {
    font-size: 14px;
    color: #777777;
    margin-left: -98px;
}

.breaking-news-content-row-card-txt-title,
.breaking-news-content-row-card-txt-desc {
    display: inline-block;
    margin-top: 11px;
}

#title-image {
    margin-left: -60px;
}

.what-people-say-about-the-ham{
    background-image: url("../img/Sections background/section-3.jpg");
    background-attachment: fixed;
    background-size: contain;
}

.what-people-say-about-the-ham-heading{
    color: #FFFFFF;
    padding-top: 99px;
}

.what-people-say-about-the-ham-bracket {
    margin-top: 67px;
}

.gallery-of-best-images {
    background-color: #F8FCFE;
}

.gallery-of-best-images img {
    margin: 10px;
}

.gallery-of-best-images-heading {
    padding-top: 98px;
}

.gallery-of-best-images-img {
    margin-top: 74px;
    display: flex;
    justify-content: center;
}

.bst-img {
    display: flex;
    margin-left: 14px;
}

.bst-img img {
    margin-left: -5px;
}

.small-img img {
    width: 188px;
    height: 168px;
}

.gallery-of-best-images-img-column-bst-img {
    margin-top: -10px;
}

.gallery-of-best-images-img-column-bst-img img {
    width: 124px;
    height: 92px;
    margin: 0;
}

#last-img img {
    width: 381px;
}

.footer {
    height: 109px;
    background-color: #22353F;
    margin-bottom: 11px;
    font-size: 14px;
    color: #AEAEAE;
}

.footer-txt-the-ham {
    color: #18CFAB;
}

.footer * {
    padding-top: 48px;
}